{% extends 'base.html' %}
{% block body %}
<body>
    <script src="static/js/change_pass.js"></script>

    <h1>Cluster Interface Change Password Page</h1>

    <form id="data" enctype="multipart/form-data" method="post">
	<ul>
	    <li>Confirm Your Username <input type="text" name="uname" id="uname" value="My Username" /></li>
	    <li>Old Password<input type="password" name="old_passwd" id="old_passwd" value="Password" /></li>
	    <li>New Password<input type="password" name="passwd" id="passwd" value="Password" /></li>
	    <li><input id="submit-button" class="button green" type="button" name="submit" value="Submit Content"></li>
	</ul>
    </form>

</body>
{% endblock %}
