{% extends "base.html" %}
{% block body %}
<body>
    <script src="static/js/contact.js"></script>
    <h1>Cluster Interface Job Submission Page</h1>

    <form id="data" enctype="multipart/form-data" method="post">
	<ul>
	    <li>Your Name <input type="text" name="uname" id="uname" value="My Name" /></li>
	    <li>Your Email<input type="text" name="email" id="email" value="user@example.com" /></li>
	    <li>message <textarea name="msg" id="msg" value="Message Here" cols="40" rows="5"></textarea></li>

	    <li><input id="submit-button" class="button green" type="button" name="submit" value="Submit Content"></li>
	</ul>
    </form>
    {% endblock %}
