<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="static/js/login_test.js"></script>
    </head>
    <body>

	<h1>Cluster Interface Login Page</h1>

	<form id="data" enctype="multipart/form-data" method="post">
	    <ul>
		<li> <input type="text" name="uname" id="uname" value="My Username" /></li>
		<li> <input type="password" name="passwd" id="passwd" value="Password" /></li>

		<li><input id="submit-button" class="button green" type="button" name="submit" value="Submit Content"></li>
	    </ul>
	</form>

    </body>
</html>
