{% extends 'base.html' %}
{% block body %}
    <body>
	<script src="static/js/login_test.js"></script>

	<h1>Cluster Interface Login Page</h1>

	<form id="data" enctype="multipart/form-data" method="post">
	    <ul>
		<li> <input type="text" name="uname" id="uname" value="My Username" /></li>
		<li> <input type="password" name="passwd" id="passwd" value="Password" /></li>

		<li><input id="submit-button" class="button green" type="button" name="submit" value="Submit Content"></li>
	    </ul>
	</form>

    </body>
    {% endblock %}
