<!DOCTYPE html>
<html>
    <head>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    </head>
    <body>
	<form id="formoid" action="" title="" method="post">
            <div>
		<label class="title">Job Name</label>
		<input type="text" id="name" name="name" >
            </div>
            <div>
		<label class="title">Command Line Invocation</label>
		<input type="text" id="cli" name="cli" >
            </div>
	    <div>
		<label class="title">Script</label>
		<input type="file" id="script" name="script" >
            </div>
	    <div>
		<label class="title">Filesystem</label>
		<input type="file" id="filesys" name="filesys" >
            </div>
            
            <div>
		<input type="button" id="submitButton"  name="submitButton" value="Submit Job">
            </div>
	</form>
	<script type='text/javascript'>
	 /* attach a submit handler to the form */
	 $("#submitButton").click(function(event) {

	     /* stop form from submitting normally */
	     event.preventDefault();

	     /* get the action attribute from the <form action=""> element */
	     var $form = $( this ),
		// url = $form.attr( 'action' );

	     /* Send the data using post with element id name and name2*/
	    // var posting = $.post( url, { name: $('#name').val(), name2: $('#name2').val() } );

	     /* Alerts the results */
	    // posting.done(function( data ) {
//		 alert('success');
//	     });
	     file = $("#script")[0].files[0];
	     upload = new Upload(file);

	     // maby check size or type here with upload.getSize() and upload.getType()

	     // execute upload
	     upload.doUpload();
	 });
	 var Upload = function (file) {
	     this.file = file;
	 };

	 Upload.prototype.getType = function() {
	     return this.file.type;
	 };
	 Upload.prototype.getSize = function() {
	     return this.file.size;
	 };
	 Upload.prototype.getName = function() {
	     return this.file.name;
	 };
	 Upload.prototype.doUpload = function () {
	     var that = this;
	     var formData = new FormData();

	     // add assoc key values, this will be posts values
	     formData.append("file", this.file, this.getName());
	     formData.append("upload_file", true);

	     $.ajax({
		 type: "POST",
		 url: "/script",
		 xhr: function () {
		     var myXhr = $.ajaxSettings.xhr();
		     if (myXhr.upload) {
			 myXhr.upload.addEventListener('progress', that.progressHandling, false);
		     }
		     return myXhr;
		 },
		 success: function (data) {
		     // your callback here
		 },
		 error: function (error) {
		     // handle error
		 },
		 async: true,
		 data: formData,
		 cache: false,
		 contentType: false,
		 processData: false,
		 timeout: 60000
	     });
	 };

	 Upload.prototype.progressHandling = function (event) {
	     var percent = 0;
	     var position = event.loaded || event.position;
	     var total = event.total;
	     var progress_bar_id = "#progress-wrp";
	     if (event.lengthComputable) {
		 percent = Math.ceil(position / total * 100);
	     }
	     // update progressbars classes so it fits your code
	     $(progress_bar_id + " .progress-bar").css("width", +percent + "%");
	     $(progress_bar_id + " .status").text(percent + "%");
	 };
	</script>

    </body>
</html> 
